/* BASIC SET UP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color:  #fff;
  color: #555;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/* Components */
.row{
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 80px 0; */
}
h1{
  margin: 0;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}
h2{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}
h2::after{
  display: block;
  height: 2px;
  background-color: #EE6C4D;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}


/* HEADER  */
header{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../assets/main2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero_text_box{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerbth{
  display: inline-block;;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  background-color: #EE6C4D;
  border-radius: 200px;
  color: #fff;
}

.logo{
  width: 6%;
  height: auto;
  float: left;
  margin-top: 20px;
}
.main_nav{
  float: right;
  list-style: none;
  margin-top: 60px;
}
.main_nav li{
  display: inline-block;
  margin-left: 40px;
}
.main_nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%
}

/* STOCKS LIST SECTION */
.stocks{
  padding: 80px 0;
  margin-bottom: 20%;
}

/* FOOTER */

footer {
  background-color: #333;
  padding: 40px;
}

.footer_nav{
  list-style: none;
  float: left;
}

.footer_nav li{
  display: inline-block;
  margin-right: 20px;
}

.footer_nav li a:link,
footer_nav li a:visted{
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer_nav li a:hover,
.footer_nav li a:active {
  color: #ddd;
}
